html {
    margin: 0;
    padding: 0;
}

.flex-container-navbar {
    border: dotted 3px blue;
    
    display: flex;
    justify-content: space-between;
}

.navbar-left-section {
    border: dotted 3px red;
    
    display:flex;
    align-items: center;
    flex: 25%
}

.logo {
    width: 25%;
}

.navbar-right-section {
    border: dotted 3px red;
    
    display: flex;
    flex-wrap: wrap;
    flex: 75%;
    justify-content: space-evenly;
    align-items: center;
}

.flex-container-hero { /*Is this container even necessary?*/
    border: dotted 3px blue;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vw;
}

.hero {
    border: dotted 3px red;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    height: 10vw;
    justify-content: space-evenly;
    /* margin: 0 auto;  */
}

h1 {
    margin: 0; /*What unit of measure is 0?*/
}


