/* TODO: 
- make navbar fixed
- rotate icon-feature-3
- create new company logo
- create linear gradient for page background
- delete div borders
- change navlinks positioning to flex-end */

html {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

.navbar-flex-container {
    border: solid 6px red;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    width: 100vw;
}

.navbar-left {
    border: solid 3px blue;
    
    display:flex;
    align-items: center;
    flex: 25%;
}

.company-logo {
    width: 3rem;;
    height: 3rem;
    background-color: lightslategray;
}

.navbar-right {
    border: solid 3px blue;
    
    display: flex;
    flex-wrap: wrap;
    flex: 75%;
    justify-content: space-evenly;
    align-items: center;
}

.nav-link {
    justify-content: end;
}

.hero-flex-container {
    border: solid 6px red;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    height: 10vw;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-bottom: 10vh;
}

.feature-grid-container {
    border: solid 6px red;

    display:grid;
    grid-template-columns: 15% 85%;
    margin-bottom: 10vh;
}


.feature-icon {
    border: solid 3px blue;

    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-description {
    border: solid 3px blue;

    display: flex;
    flex-direction: column;
}

.icon-feature-1 {
    width: 6rem;
    height: 6rem;
    background-color: lightblue;
    border-radius: 100%;
}

.icon-feature-2 {
    width:6rem;
    height: 6rem;
    background-color: lightgreen;
    border-radius: 25%;
}

.icon-feature-3 {
    width: 6rem;
    height: 6rem;
    background-color: lightcoral;
}

.product-video {
    border: solid 6px red;
    
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 10vh;
}

.pricing-flex-container {
    border: solid 6px red;

    display:flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-bottom: 10vh;
}

.price-card {
    border: solid 3px blue;

}

.footer-flex-container {
    border: solid 6px red;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.site-nav {
    border: solid 3px blue;

    display: flex;
    justify-content: flex-end;
}

.nav-site {
    margin-left: 1.5rem;
}

.legal-info {
    border: solid 3px blue;
    
    display:flex;
    justify-content: flex-end;
    
}




