html {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: blueviolet; */
}

.container-flex-navbar {
    border: dotted 3px blue;
    
    display: flex;
    justify-content: space-between;
}

.navbar-left-section {
    border: dotted 3px red;
    
    display:flex;
    align-items: center;
    flex: 25%
}

.logo {
    width: 25%;
}

.navbar-right-section {
    border: dotted 3px red;
    
    display: flex;
    flex-wrap: wrap;
    flex: 75%;
    justify-content: space-evenly;
    align-items: center;
}

.hero {
    border: dotted 3px red;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    height: 10vw;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

h1 {
    margin: 0;
}

/* Make into a single gird!!! */

.container-grid-feature-1 {
    border: dotted 3px blue;

    display: grid;
    grid-template-columns: 10% 90%;
    margin-bottom: 5vh;

}


.container-grid-feature-2 {
    border: dotted 3px blue;

    display: grid;
    grid-template-columns: 10% 90%;
    margin-bottom: 5vh;

}

.container-grid-feature-3 {
    border: dotted 3px blue;

    display: grid;
    grid-template-columns: 10% 90%;
    margin-bottom: 5vh;

}

.icon {
    border: dotted 3px red;
    align-content: center;

}

.feature-description {
    border: dotted 3px red;

}

.feature-image {
    width: 50%;
}


